

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Striped Progress bar</h4>
                <div class="progress m-t-20">
                    <div class="active progress-bar bg-primary progress-bar-striped" 
                    aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" 
                    [style.width]="getProgreso1()"
                    style="height:5px;" role="progressbar"></div>
                </div>

                <div class="progress m-t-20">
                    <div class="active progress-bar bg-info progress-bar-striped" 
                    aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" 
                    [style.width]="getProgreso2()"
                    style="height:5px;" role="progressbar"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador 
                (valorSalidaEmit)="progreso1=$event" 
                [valor]="progreso1"></app-incrementador>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador 
                (valorSalidaEmit)="progreso2=$event" 
                [btnClase]="'btn-info'"
                [valor]="progreso2" ></app-incrementador>
            </div>
        </div>
    </div>
</div>